.drawerContainer {
  width: 200px;
}

.navLink {
  width: 100%;
  cursor: pointer;
  transition: 200ms;
}

.navLink:hover {
  color: #0070f3 !important;
}

.toggleContainer {
  display: flex;
  justify-content: center;
  margin-top: 4px;
}
