/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.drawerContainer {
  width: 200px;
}

.navLink {
  width: 100%;
  cursor: pointer;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
}

.navLink:hover {
  color: #0070f3 !important;
}

.toggleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 4px;
}
