/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.wrapper {
  padding: 12px 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  overflow-y: hidden;
  -webkit-transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.container {
  max-width: 850px;
  margin: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.centerContainer {
  position: absolute;
  left: 50%;
  top: 25%;
  -webkit-transform: translate(-50%, -25%);
  -ms-transform: translate(-50%, -25%);
  transform: translate(-50%, -25%);
}

.rightContainer {
  padding-top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu {
  display: none;
}

.spacerContainer {
  display: none;
}

.switchContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  bottom: 2px;
  position: relative;
}

@media screen and (max-width: 700px) {
  .centerContainer {
    display: none;
  }
  .menu {
    display: block;
    position: relative;
    cursor: pointer;
  }
  .spacerContainer {
    display: block;
  }
}

@media screen and (max-width: 550px) {
  .switchContainer {
    display: none;
  }
}
