.wrapper {
  padding: 12px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  overflow-y: hidden;
}

.container {
  max-width: 1000px;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.centerContainer {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -25%);
}

.rightContainer {
  padding-top: 2px;
  display: flex;
  align-items: center;
}
